Repository Avery-Rose/dnd-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ts, prettier --write

feat: database models
  src/models/Settings.ts
Due: eslint --fix --ext ts

chore: update database model
  src/models/Options.ts
Due: eslint --fix --ext ts

feat: add script to generate .env.example file from .env file
  package.json
Due: prettier --write

style: add vscode project setting to insert newline at end of file
  .vscode/settings.json
Due: prettier --write

chore: add .example.env file
  .example.env
Due: none

feat: generate .env.example file on precommit
  .husky/pre-commit
Due: none

fix: add space to end of all files
  .eslintignore
  .husky/commit-msg
  .prettierignore
Due: none

fix: remove eslint no unused vars rule
  .eslintrc.json
Due: prettier --write

chore: bump generate-env-types dependency
  package.json
Due: prettier --write

refactor: mongo connection option environment variables
  .example.env
  .gitignore
  src/index.ts
  src/typings/env.d.ts
Due: eslint --fix --ext ts

feat: readme
  README.md
Due: prettier --write

fix: hyperlinks
  README.md
Due: prettier --write

refactor: refactor the collections in Options into their own files
  src/models/Character.ts
  src/models/Options.ts
  src/models/World.ts
Due: eslint --fix --ext ts

fix: ownerid shouldn't be unique so people can create multiple characters
  src/models/Character.ts
Due: eslint --fix --ext ts

feat: readme badges
  README.md
Due: prettier --write

refactor: put desc above badges
  README.md
Due: prettier --write

feat: interaction validators
  pnpm-lock.yaml
  src/events/interactionCreate.ts
  src/interactions/buttons/sendMessage.ts
  src/interactions/selectMenu/characterSelection.ts
  src/typings/discord-js.d.ts
  src/util/registerInteractions.ts
Due: eslint --fix --ext ts

refactor: use interaction.user.tag instead of template literal
  src/events/interactionCreate.ts
Due: eslint --fix --ext ts

feat: license
  LICENSE
Due: none

fix: change shields style
  README.md
Due: prettier --write

fix: remove spacing between shields
  README.md
Due: prettier --write

fix: move shields above description
  README.md
Due: prettier --write

fix: update package.json to reflect LICENSE
  package.json
Due: prettier --write

feat: add links to shields
  README.md
Due: prettier --write

Path conditions:
  eslint --fix --ext ts: any of: *.ts
  prettier --write: any of: *.{json,md}
